<h2 class="main-text">أدارة المنتجات</h2>

<!--"background: #fff;  box-shadow: 0 5px 10px rgba(0,0,0,0.1);-->
<app-table-button type="btn btn-outline-danger" style="float: left; margin-left: 100px;"(click)="openModal(content2)">اضافة كوبون خصم</app-table-button>
<div style="margin-top: 40px;position: relative;">
  <h4 style="margin-right: 100px">الاقسام</h4>
  <div class="horizontal-scroll"
    style="margin-right: 100px;margin-left: 100px;background: #fff;box-shadow: 0 5px 10px rgba(0,0,0,0.1);">
    <button style="float:left ; color: var(--primary-color); border: none; background-color:#fff ; margin: 2px;"
      (click)="openModal(content)"><i class="bi bi-plus"></i>اضافة قسم</button>
    <div class="sections d-flex gap-3">

      <app-table-button statement="" type="btn btn-outline-danger" class="rest" style="margin-top: 50px;">اضافة
        قسم</app-table-button>
      <app-table-button statement="" type="btn btn-outline-danger" class="rest" style="margin-top: 50px;">اضافة
        قسم</app-table-button>
      <app-table-button statement="" type="btn btn-outline-danger" class="rest" style="margin-top: 50px;">اضافة
        قسم</app-table-button>

    </div>
  </div>
</div>

<!--pop for adding a section-->
<ng-template #content let-modal>
  <!-- header-->

  <form [formGroup]="add_section_form" (ngSubmit)="SendSection()">
    <!-- body-->
    <div class="modal-body">

      <div class="form-group">
        <label for="exampleInputPassword1">ادخل اسم القسم</label><br><br>
        <input type="text" formControlName="section_name" class="form-control">
      </div>

    </div>

    <!-- footer-->
    <div class="modal-footer" style="direction: ltr;">
      <button type ="submit" class="btn btn-outline-danger">اضافة</button>
    </div>
  </form>
</ng-template>



<!--pop uo for adding a coupon-->
<ng-template #content2 let-modal>
  <!-- header-->

  <form [formGroup]="add_coupon_form" (ngSubmit)="AddCoupon()">
    <!-- body-->
    <div class="modal-body">

      <div class="form-group">
        <label for="exampleInputPassword1" style="margin-bottom: 3px;">ادخل رمز الكوبون</label><br>
        <input type="text" formControlName="code" class="form-control">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1" style="margin-bottom: 3px;">قيمة التخفيض</label><br>
        <input type="number" formControlName="discount_amount" class="form-control">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">تاريخ الانتهاء</label><br>
        <input type="date" formControlName="end_date" class="form-control">
      </div>

    </div>

    <!-- footer-->
    <div class="modal-footer" style="direction: ltr;">
      <button (click)="AddCoupon()" class="btn btn-outline-danger">اضافة</button>
    </div>
  </form>
</ng-template>






<!--products table-->
<div style="margin-top: 50px;">
  <h4 style="margin-right: 100px;">المنتجات</h4>
  <div class="container">
    <button (click)="openModal(content1)"
      style="float:left ; color: var(--primary-color); border: none; background-color:#fff ;"><i
        class="bi bi-plus"></i>اضافة منتج</button>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" style="width:5px">صورة المنتج</th>
          <th scope="col">وصف المنتج</th>
          <th scope="col">الكمية</th>
          <th scope="col">السعر</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img src="../../../../../../assets/LazzaLogo-01.png" alt=""
              style="width: 100px; border:solid 0.5px"></th>
          <td style="width: 450px">طبق برجر مع بطاطس وشرائح دجاج مع ببس</td>
          <td style="width: 10px;">45</td>
          <td style="width: 10px;">30</td>
          <td style="width: 15px;"><app-table-button statement="" type="btn btn-outline-danger" class="rest"
              style="margin-top: 50px;">تعديل</app-table-button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>









<!--pop up for add a meal-->
<ng-template #content1 let-modal>
  <!-- header-->


  <!-- body-->
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">اسم المنتج</label><br>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">وصف المنتج</label><br>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">السعر</label><br>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">الكمية</label><br>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">صورة المنتج</label><br>
        <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    </form>
  </div>

  <!-- footer-->
  <div class="modal-footer" style="direction: ltr;">
    <input type="submit" class="button" value="اضافة" style="background-color: var(--primary-color);">
  </div>
</ng-template>
