<h2>المنتجات</h2>

<div class="horizontal-scroll">
  <div class="sections d-flex justify-content-center p-4 gap-3">
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
    <app-button  anyting="قسم الدجاج" type="btn-outline-danger" class="rest"></app-button>
  </div>
</div>
<div class="products">


  <div class="card" style="width: 13rem;">
    <img class="card-img-top" src="../../../../../../assets/email.png" alt="Card image cap">
    <div class="card-body">
      <div class="edit-products d-flex justify-content-center gap-3">
        <app-table-button statement="حذف" type="btn-outline-danger" class="rest"><i class="bi bi-trash"></i></app-table-button>
        
      </div>
    </div>
  </div>



</div>
