.horizontal-scroll{
  overflow-x: scroll;
}
.horizontal-scroll::-webkit-scrollbar{
}

// .products{
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 20px;
//   margin-top: 15px;
// }

// .rest:visited{
//     color: red;
// }

.container{
  margin-right: 100px;
  margin-left: 100px;
  max-width: 1195px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
tr{
  border-bottom: 1px solid #ddd;
}
