<!-- <div class="form form-container sign-in-container">
  <h1 class="sign-in-text">تسجيل الدخول</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <span *ngIf="this.loginForm.get('email').invalid && submited == true" style="color: red;">البريد الالكتروني
      مطلوب</span>
    <input formControlName="email" class="input" placeholder="الايميل" type="email" />


    <input formControlName="password" placeholder="كلمة السر" class="input" type="password" />
    <span *ngIf="this.loginForm.get('password').invalid && submited == true"> كلمة المرور مطلوبة</span>

    <button type="submit" *ngIf="loading == false">دخول</button><br>
    <a routerLink="../reset-password">هل نسيت كلمة السر ؟</a>

    <app-loader *ngIf="loading == true"></app-loader>

    <h6>ليس لديك حساب ؟ <a style="color: var(--primary-color);" routerLink="../user-type">انضم إلينا</a></h6>

  </form>
</div> -->

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="container">
    <div class="login form" style="position: relative;">
      <img src="../../../assets/LazzaLogo-01.png" alt="" style="width:100 ; height: 100px; margin-right:4.8rem ;">
      <header>تسجيل دخول</header>

      <span *ngIf="this.loginForm.get('email').invalid && submited == true" style="color: red;">البريد الالكتروني
        مطلوب</span>

      <input type="text" formControlName="email" placeholder="ادخل الايميل">

      <input type="password" formControlName="password" placeholder="ادخل كلمة المرور">
      
      <a style="color: var(--primary-color);">هل نسيت كلمة المرور ؟</a>

      <input type="submit" class="button" value="سجل" style="background-color: var(--primary-color); text-align: center;" >

      <div class="signup">
        <span class="signup">ليس لديك حساب ؟
          <a routerLink="/auth/user-type"><label for="check" style="color: var(--primary-color);">انضم
              إلينا</label></a>
        </span>
      </div>
    </div>
  </div>
</form>


<!--pop up -->

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>

  </div>
  <div class="modal-body text-center">

    <h2>ادخل رمز التحقق</h2>

    <div class="container1">
      <div id="inputs" class="inputs">
        <input class="input" type="text" inputmode="numeric" maxlength="1" />
        <input class="input" type="text" inputmode="numeric" maxlength="1" />
        <input class="input" type="text" inputmode="numeric" maxlength="1" />
        <input class="input" type="text" inputmode="numeric" maxlength="1" />
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-center">
    <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')"
      (click)="login()">حفظ</button>
  </div>
</ng-template> -->
