
<div class="form form-container sign-in-container">
    <h1 class="sign-in-text">تسجيل الدخول</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <span *ngIf="this.loginForm.get('email').invalid && submited == true" style="color: red;">البريد الالكتروني مطلوب</span>
      <input formControlName="email"  class="input" placeholder="الايميل" type="email"/>


      <input formControlName="password"  placeholder="كلمة السر" class="input" type="password"/>
      <p *ngIf="this.loginForm.get('password').invalid && submited == true"> كلمة المرور مطلوبة</p>

      <button type="submit" *ngIf="loading == false" >دخول</button><br>
      <a routerLink="../reset-password">هل نسيت كلمة السر ؟</a>

       <app-loader *ngIf="loading == true"></app-loader>

    <h6>ليس لديك حساب ؟ <a style="color: var(--primary-color);" routerLink="../user-type">انضم إلينا</a></h6>

    </form>



</div>

<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <img src="../../../assets/lazza-logo-white.png" alt="">
    </div>
  </div>
</div>
