
<div class="form-container sign-in-container">
  <form action="#">
    <h1 class="sign-in-text">تسجيل الدخول</h1>


    <input class="input" placeholder="الايميل" type="email"/>


    <input placeholder="كلمة السر" class="input" type="password"/>

    <a routerLink="../reset-password">هل نسيت كلمة السر ؟</a>
    <button>دخول</button>
    
    <h6>ليس لديك حساب ؟ <a style="color: var(--primary-color);" routerLink="../user-type">انضم إلينا</a></h6>
  </form>
</div>

<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <img src="../../../assets/lazza-logo-white.png" alt="">
    </div>
  </div>
</div>


