.main{
  margin: 5%;
  font-family: var(--fontFamily);
 }

 table {
   width: 100%;
   border-collapse: collapse;
   font-size: 18px;
   text-align: center;
   font-family: var(--fontFamily);

 }

 th, td {
   padding: 12px;
   border: 1px solid var(--table-border);


 }

 th {
   background-color: var(--table-row-bg);
   font-weight: bold;
 }

 td {
   text-align: center;
   font-weight: 500;
 }

/* ----------------- */

#avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('./../../../../../../assets/lazza-slogan.png');

  /* make a square container */
  width: 150px;
  height: 150px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

