body{
  margin: 0;
}
.sidebar{
  position: fixed;
  border-radius: 1rem;
  width: 250px;
  top:0;
  right: 0;
  bottom: 0;
  background: white;
  border:var(--primary-color) solid;
  padding-top: 50px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.sidebar h1{
  display: block;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  font-family: --fontFamily;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.sidebar a{
  display: block;
  padding: 10px 20px;
  color: #272727;
  text-decoration: none;
  font-family: --fontFamily;
  letter-spacing: 2px;
  text-align: center;
}

.sidebar a:hover{
  color: #DC4728;
  margin-left: 20px;
  transition: 0.4s;
}
