<h2 class="main-text">تواصل مع المسؤول</h2>
<div class="fcf-body">
  <div id="fcf-form">

  <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">

      <div class="fcf-form-group">
          <label for="Name" class="fcf-label">اسم المطعم</label>
          <div class="fcf-input-group">
              <input type="text" id="Name" name="Name" class="fcf-form-control" required>
          </div>
      </div>

      <div class="fcf-form-group">
          <label for="Email" class="fcf-label">ادخل الايميل</label>
          <div class="fcf-input-group">
              <input type="email" id="Email" name="Email" class="fcf-form-control" required>
          </div>
      </div>

      <div class="fcf-form-group">
          <label for="Message" class="fcf-label">رسالتك</label>
          <div class="fcf-input-group">
              <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
          </div>
      </div>

      <div class="fcf-form-group">
        <app-button  anyting="ارسل" type="btn-outline-danger" class="rest"></app-button>
      </div>



  </form>
  </div>

</div>
