<h2 class="main-text">تواصل مع المسؤول</h2>
<div class="container">
  <form [formGroup]="massage_to_admin_form">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">رسالتك</label>
    <textarea class="form-control" formControlName="massage" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
  <div class="mb-3 align-items-center">
    <app-table-button statement="ارسال" type="btn-outline-danger" class="rest"></app-table-button>
  </div>
</div>
