.links{
 margin-right: 70px;
 margin-top: 20px;
 direction: rtl;
}
.links a{
 font-family: var(--fontFamily);
 font-size: 25px;
 color: black;
 text-decoration: underline;

}
.links a:hover{
color: var(--primary-color);
}

.pre{
  position: relative;
  right: 40px;
}
#cart{
  direction: rtl;
}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  margin-right: 120px;
  margin-top: 50px;
}

#cart table img{
    width: 40px;  /* image's size*/
}

#cart table td:nth-child(1) input{ /*quantity*/
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table td:nth-child(4){   /*image*/
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3){  /*product's name*/
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4)   /*price*/
{
  width: 150px;
  text-align: center;
}

#cart table thead td{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td{
 padding-top: 15px;  /* تحط مسافه بين الهيدر و الصف الاول */
}
#cart table tbody td{
 font-size: 13px;
}



/*maybe for cards*/

body{
  margin-top:20px;
  }

  .container{
    margin-top: 20px;
  }
  .avatar-lg {
  height: 5rem;
  width: 5rem;
  }

  .font-size-18 {
  font-size: 18px!important;
  }

  .meal-deitals{
  margin-right: 10px;
  }

  .text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

  a {
  text-decoration: none!important;
  }

  .w-xl {
  min-width: 160px;
  }

.details{
  color: var(--primary-color);
  position: relative;
  top: 25px;
}
  .card {
  margin-bottom: 24px;
  -webkit-box-shadow: 0 2px 3px #e4e8f0;
  box-shadow: 0 2px 3px #e4e8f0;
  }
.card-body{
  width: 650px;
  position: relative;
  left: 420px;
  margin-top: 25px;
  // border: red 1px solid;
}
  .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff0f2;
  border-radius: 1rem;
  }
.details{
  color: var(--primary-color);
}
