<div class="links">
  <a href="" class="now">طلباتي الحاليه</a>
  <a href="" class="pre">طلباتي السابقة</a>
</div>

<section id="cart" class="section-p1">
  <table width ="100%">
    <thead>
      <tr>
        <td>الكمية</td>
        <td>السعر</td>
        <td>اسم المنتج</td>
        <td>الصورة</td>
        <td>حذف</td>
      </tr>
    </thead>

    <tbody>
      <tr>

          <td><input type="number" value="1"></td>      <!--value here like default value-->
          <td>gggg</td>
          <td>gggg</td>
          <td><img src="./../../../../assets/search-icon.webp" alt=""></td>
          <td><a href=""><i class="fa-regular fa-trash"></i></a></td> <!--icon-->

      </tr>


    </tbody>

  </table>
  </section>
