<div class="links">
  <a href="" class="now">طلباتي الحاليه</a>
  <a href="" class="pre">طلباتي السابقة</a>
</div>

<div>
  <div class="card-body">

    <div class="d-flex align-items-start border-bottom pb-3">

      <div class="me-4">
        <img src="https://www.bootdey.com/image/380x380/008B8B/000000" alt="" class="avatar-lg rounded">
      </div>

      <div class="flex-grow-1 align-self-center overflow-hidden">
        <div class="meal-deitals">
          <h5 class="text-truncate font-size-18"><a href="#" class="text-dark">برقر دجاج </a></h5>

          <p class="mb-0 mt-1">برقر دجاج مع ببسي </p>
        </div>
      </div>

      <div class="flex-shrink-0 ms-2">

        <ul class="list-inline mb-0 font-size-16">



          <li class="list-inline-item">
            <a href="#" class="details">
              التفاصيل
            </a>
          </li>

        </ul>

      </div>
    </div>
</div>
