<div class="restName">
  <p>### مطعم</p>
</div>

<section class="categories">

  <!--category 1-->
  <div class="category">
    <p>#####</p>
    <img src="./../../../../../../../assets/email.png" alt="category 1">
  </div>

  <!--category 2-->
  <div class="category">
    <p>#####</p>
    <img src="./../../../../../../../assets/email.png" alt="category 1">
  </div>

  <!--category 3-->
  <div class="category">
    <p>#####</p>
    <img src="./../../../../../../../assets/email.png" alt="category 1">
  </div>

  <!--category 4-->
  <div class="category">
    <p>#####</p>
    <img src="./../../../../../../../assets/email.png" alt="category 1">
  </div>

</section>

<hr style="width: 90%;  margin-bottom: 5%;">

<!-- to be replaced with selector pf product card-->

<div class="ProductsContaner" *ngFor="let item of arr">


  <!-- product card 1-->
  <div class="Card-container">

    <div class="restImg">
      <img src="./../../../assets/food_bar.png" alt="restaurant">
    </div>

    <div class="productDescrption">


      <h5>0000SAR</h5>
      <P>طبق ###</P>

    </div>
  </div>
  <div class="Card-container">

    <div class="restImg">
      <img src="./../../../assets/food_bar.png" alt="restaurant">
    </div>

    <div class="productDescrption">


      <h5>0000SAR</h5>
      <P>طبق ###</P>

    </div>
  </div>



</div>
