
<div class="form-container sign-in-container">
  <form action="#">
    <h1 class="sign-in-text">أدخل رمز التحقق</h1>

    <div class="otp" style="margin-bottom: 4%;">
      <input type="text" class="otp__input" maxlength="1" />
      <input type="text" class="otp__input" maxlength="1" />
      <input type="text" class="otp__input" maxlength="1" />
      <input type="text" class="otp__input" maxlength="1" />
  </div>


  <app-button anyting="ادخل" type="btn-outline-danger" ></app-button>
  </form>
</div>

<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-left">
    </div>
    <div class="overlay-panel overlay-right">
      <img src="../../../assets/lazza-logo-white.png" alt="">
    </div>
  </div>
</div>



