<!-- main container -->
 <h2 class="main-text">لوحة البيانات</h2>
<div class="container pt-5">

  <!-- first row: cards -->
  <div class="row justify-content-md-center" style="margin-bottom: 3%;">

    <div class="col">

      <div id="root">
        <div class="container pt-5">
          <div class="row align-items-stretch">

            <div class="c-dashboardInfo col-lg-4 col-md-6">
              <div class="wrap" style="background-color:var(--white)">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title"> عدد المستخدمين </h4><span
                  class="hind-font caption-12 c-dashboardInfo__count">5,500 ألف</span>
              </div>
            </div>

            <div class="c-dashboardInfo col-lg-4 col-md-6">
              <div class="wrap" style="background-color:var(--white)">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">عدد المطاعم </h4><span
                  class="hind-font caption-12 c-dashboardInfo__count">956</span>
              </div>
            </div>

            <div class="c-dashboardInfo col-lg-4 col-md-6">
              <div class="wrap" style="background-color:var(--white)">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">عدد الطلبات </h4><span
                  class="hind-font caption-12 c-dashboardInfo__count">11,500 ألف</span>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div> <!-- end of col , for cards-->

  </div> <!-- end of first row -->

  <!-- second row: charts -->
  <div class="row justify-content-md-center " style="gap: 15px;">

    <!-- first col-->
    <div style="background-color: #ffffff;" class="chart1    col-lg-5">

      <div id="main" style=" height: 300px;"></div>

    </div>

    <!-- second col-->
    <div style="background-color: #ffffff;" class="chart2 col-lg-6 ">

      <div id="main1" style=" height: 300px;"></div>

    </div>

  </div>

</div>
