<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

   <title>تسجيل دخول مطعم </title>
</head>
<body>
    <div class="container">
        <header>تسجيل</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">اكمل المعلومات التالية</span>

                    <div class="fields">
                        <div class="input-field">

                            <input type="text" placeholder="اسم المطعم" required>
                        </div>

                        <div class="input-field">

                            <input type="email" placeholder="الايميل" required>
                        </div>

                        <div class="input-field">

                            <input type="number" placeholder="رقم الجوال" required>
                        </div>

                        <div class="input-field">

                            <input type="password" placeholder="كلمة السر" required>
                        </div>

                        <div class="input-field">
                            <label>صورة المطعم</label> <!--change-->
                            <input type="file" placeholder="صورة المطعم" required class="image">
                        </div>

                        <div class="input-field">
                            <label>السجل التجاري</label>      <!--change-->
                            <input type="file" placeholder="Enter your ccupation" required class="image">
                        </div>

                        <div class="input-field">

                            <input type="text" placeholder="موقع المطعم" required>
                        </div>

                        <div class="input-field">
                            <label>الشهادة الصحية</label>   <!--change-->
                            <input type="file" placeholder="Enter your ccupation" required class="image">
                        </div>

                        <div class="input-field">

                            <input type="number" placeholder="رقم الايبان" required>
                        </div>

                        <div class="input-field">

                            <input type="number" placeholder="رقم الحساب" required>
                        </div>

                        <button class="nextBtn">
                            <span class="btnText">سجل</span>

                        </button>
                    </div>
                </div>
            </div>
