



 <div class="container">
  <div class="form-container sign-in-container">
    <form action="#">
      <img src="../../../assets/LazzaLogo-01.png" alt="" style="width: 150px; height: 100px;">
      <h1 class="sign-in-text">أكمل المعلومات التالية</h1>
      <div class="contain-10input">
        <div class="input-contain">

          <input type="text"  placeholder="موقع المطعم" required>



          <input type="number" placeholder="رقم الايبان" required>

          <input type="number" placeholder="رقم الحساب" required>
          <input type="file" placeholder="صورة المطعم" required class="image" />
          <input type="file" placeholder="السجل التجاري" required class="image">
        </div>
        <div class="input-contain">
          <input type="text" placeholder="اسم المطعم" required />
          <input type="email" placeholder="الايميل" required />
          <input type="number" placeholder="رقم الجوال" required />
          <input type="password" placeholder="كلمة السر" required />

          <input type="file" placeholder="صورة المطعم" required class="image" /><br>
         <br>
        </div>
      </div>
      <app-button anyting="تسجيل" type="btn-outline-danger" style="margin-bottom: 15px;"></app-button>
    </form>
  </div>
</div>




