<div class="container" >
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="../../../../../../assets/avatar-icon.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name">غسان</h5>
            </div>
            <div class="about">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">

          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6>المعلومات الشخصية</h6>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group" style="padding-bottom: 10px;">
                <label  for="fullName">الإسم الثلاثي</label>
                <input type="text" class="form-control" id="fullName" placeholder="">
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">البريد الإلكتروني</label>
                <input type="email" class="form-control" id="eMail" placeholder="">
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">رقم الهاتف</label>
                <input type="text" class="form-control" id="phone" placeholder="">
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">رقم الهوية</label>
                <input type="text" class="form-control" id="website" placeholder="">
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">كلمة المرور</label>
                <input type="password" class="form-control" id="website" placeholder="••••••">
              </div>
            </div>

          </div>



            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">

                  <button type="button" id="submit" name="submit" class="btn btn-outline-danger">حفظ</button>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>

  </div> <!-- end of row 1-->

  <!-- 2nd row: -->
  <div class="row gutters" style="margin-top: 20px;">
    <div class="col-xl-12 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="../../../../../../assets/avatar-icon.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name">غسان</h5>
            </div>
            <div class="about">
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>

