<div class="label">
  <p>إعدادات الملف الشخصي</p>
  </div>

  <hr style="width: 90%;  margin-bottom: 4%;">

  <div class="container">

      <form action="">
        <label for="name">الاسم</label>
        <input type="text" id="name" name="name" >

        <label for="number">رقم الهاتف </label>
        <input type="text" id="number" name="number" >

        <label for="emaol">الايميل</label>
        <input type="text" id="emaol" name="emaol" >

        <label for="IDnumber">رقم الهوية الوطنية </label>
        <input type="text" id="IDnumber" name="IDnumber" >

        <label for="passw">كلمة المرور  </label>
        <input type="password" id="passw" name="passw" >


        <input type="submit" value="حفظ">
      </form>


  </div>

