<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/apps/restaurant-home/restaurantHome-list">الصفحة الرئيسية</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/apps/restaurant-user-order/orders-restaurant-list" >الطلبات</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" [routerLink]="['/routePath']" routerLinkActive="router-link-active"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
      الوجبات
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">عرض المنتجات</a></li>
      <li><a class="dropdown-item" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >اضافة منتج</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a  [routerLink]="['/routePath']" routerLinkActive="router-link-active"  class="nav-link">الاعلانات</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active" >الدعم الفني</a>
  </li>
</ul>
