<!-- <div class="Card-container">

  <div class="restImg">
    <img src="./../../../assets/lazza_logo.png" alt="evaluate stars">
    <div>

      <p>مطعم ####</p>
      <h6>مكة، العوالي</h6>
    </div>



</div> -->
<div class="main">

  <div class="left">

      <div class="imgg">
        <img src="./../../../assets/lazza_logo.png" class="imgg" alt="evaluate stars">
      </div>

      <div class="details-of-meal">
        <p>mac</p>
        <h6>its great</h6>
      </div>
  </div>


  <div class="right">
    <p>s</p>

  </div>
</div>
