

<div class="labelsContaner">

<!-- child 1-->
 <h3 class="restsLabel">المطاعم</h3>

</div>

<!--<app-restaurant-card></app-restaurant-card>

-->



<div class="someRestaurants">


<app-restaurant-card></app-restaurant-card>
<app-restaurant-card></app-restaurant-card>




</div>

<!-- remove all of the below when the card selector works-->



<div class="someRestaurants">

  <!-- 1 -->
  <div class="Card-container">

    <div class="restImg">
      <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
      <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

      <div>

        <p>مطعم ####</p>
        <h6>مكة، العوالي</h6>
      </div>

  </div>

  <!-- 2 -->
  <div class="Card-container">

    <div class="restImg">
      <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
      <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

      <div>

        <p>مطعم ####</p>
        <h6>مكة، العوالي</h6>
      </div>



  </div>


  <!-- 3 -->
  <div class="Card-container">

    <div class="restImg">
      <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
      <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

      <div>

        <p>مطعم ####</p>
        <h6>مكة، العوالي</h6>
      </div>



  </div>


  <!-- 4 -->
  <div class="Card-container">

    <div class="restImg">
      <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
      <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

      <div>

        <p>مطعم ####</p>
        <h6>مكة، العوالي</h6>
      </div>



  </div>
  </div>


  <div class="someRestaurants">

    <!-- 1 -->
    <div class="Card-container">

      <div class="restImg">
        <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
        <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

        <div>

          <p>مطعم ####</p>
          <h6>مكة، العوالي</h6>
        </div>

    </div>

    <!-- 2 -->
    <div class="Card-container">

      <div class="restImg">
        <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
        <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

        <div>

          <p>مطعم ####</p>
          <h6>مكة، العوالي</h6>
        </div>



    </div>


    <!-- 3 -->
    <div class="Card-container">

      <div class="restImg">
        <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
        <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

        <div>

          <p>مطعم ####</p>
          <h6>مكة، العوالي</h6>
        </div>



    </div>


    <!-- 4 -->
    <div class="Card-container">

      <div class="restImg">
        <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
        <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

        <div>

          <p>مطعم ####</p>
          <h6>مكة، العوالي</h6>
        </div>



    </div>
    </div>


    <div class="someRestaurants">

      <!-- 1 -->
      <div class="Card-container">

        <div class="restImg">
          <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
          <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

          <div>

            <p>مطعم ####</p>
            <h6>مكة، العوالي</h6>
          </div>

      </div>

      <!-- 2 -->
      <div class="Card-container">

        <div class="restImg">
          <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
          <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

          <div>

            <p>مطعم ####</p>
            <h6>مكة، العوالي</h6>
          </div>



      </div>


      <!-- 3 -->
      <div class="Card-container">

        <div class="restImg">
          <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
          <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

          <div>

            <p>مطعم ####</p>
            <h6>مكة، العوالي</h6>
          </div>



      </div>


      <!-- 4 -->
      <div class="Card-container">

        <div class="restImg">
          <div class="evaluate-stars"><img src="./../../../assets/star.png" alt="evaluate stars"> 4.5</div>
          <img src="./../../../assets/food_bar.png" alt="restaurant"></div>

          <div>

            <p>مطعم ####</p>
            <h6>مكة، العوالي</h6>
          </div>



      </div>
      </div>


