.rest-text{
  direction: rtl;
  font-family: var(--fontFamily);
  margin-right: 70px;
  color: var(--primary-color);
}
.content{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
