

<div class="labelsContaner">

<!-- child 1-->
 <h3 class="restsLabel">المطاعم</h3>

</div>

<!--<app-restaurant-card></app-restaurant-card>

-->


<!-- remove all of the below when the card selector works-->

<div class="content">

  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  
  <div class="card" style="width: 13rem;">
    <a href=""><img src="../../../../../../assets/star.png" class="card-img-top" alt="..."></a>
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>

</div>

