
<div class="form-container sign-in-container">
  <form action="#">
    <h1 class="sign-in-text"> حدد نوع الحساب الذي تريده</h1>

    <div class="types">
      <a  routerLink="../signup-Rest">  <app-button anyting="مطعم" type="btn-outline-danger" class="rest"></app-button></a>
      <a  routerLink="../signup-customer"> <app-button anyting="عميل" type="btn-outline-danger" class="client"></app-button></a>
    </div>




  </form>
</div>

<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <img src="../../../assets/lazza-logo-white.png" alt="">
    </div>
  </div>
</div>


