<form>
  <div class="container">
    <div class="login form" style="position: relative;">
      <img src="../../../assets/LazzaLogo-01.png" alt="" style="width:100 ; height: 100px; margin-right:1rem ;">


      <h2>حدد نوع الحساب</h2><br>

      <a  routerLink="../signup-Rest">  <app-button anyting="مطعم" type="btn-outline-danger" class="rest"></app-button></a><br><br><br>
      <a  routerLink="../signup-customer"> <app-button anyting="عميل" type="btn-outline-danger" class="client"></app-button></a>

      </div>
    </div>
</form>
