
<div class="form-container sign-in-container">
  <form action="#">
    <h1 class="sign-in-text">أدخل الايميل</h1>

    <input style="margin-bottom: 4%;" type="email" placeholder="Email" />


    <a  routerLink="../write-otp"><app-button  anyting="إدخال" type="btn-outline-danger" class="rest"></app-button></a>
  </form>
</div>

<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-left">
      <h1>أهلًا بك في لَذّة!</h1>


    </div>
    <div class="overlay-panel overlay-right">
      <img class="overlay-right" src="../../../assets/lazza-logo-white.png" alt="">
    </div>
  </div>
</div>


