<div class="label">
  <p>يمكنك شحن رصيد لذّة والاستفادة منه في دفع طلباتك</p>
  </div>

  <hr style="width: 90%;  margin-bottom: 5%;">

  <div class="wallet-Card">
    <p>53.02 SAR</p>
  </div>



  <!-- payment section-->
  <section class="pay-container">

 <!-- card number-->
  <div  class="payment">
    <p>أدخل المبلغ المراد إضافته لرصيدك</p>
   <img src="./../../../../../../../assets/email.png" alt="category 1">
  </div>

  <!-- amount-->
  <div  class="payment">
    <input  type="text" id="ccnum"
   name="cardnumber" placeholder="السداد بالبطاقة الإئتمانية">
  </div>




  </section>
