  <!-- <header>
  <div class="header">
    <a href="#" class="logo"><img src="./../../../../assets/lazza_logo.png" alt="CSS Header"></a>
    <div class="header-right">


      <div class="search-container">
        <form action="/action_page.php">
          <input class="search" type="text" placeholder="Search.." name="search">
        </form>
      </div>


      <a class="link" routerLink="/apps/customer-home/Customerhome-list">الصفحة الرئيسية</a>
      <a class="link" routerLink="/apps/customer-view-rest/customerViewRest-list">المطاعم</a>
      <a class="link" routerLink="/apps/current-orders/currentOrder-list">طلباتي</a>
      <a class="link" routerLink="/apps/customer-payment/customerCart-list">السله</a>
    </div>

  </div>
</header> -->
<header>
  <img src="../../../../assets/lazza_logo.png" class="img" height="50" width="50">

    <input type="text" class="search"  placeholder="ابحث">


  <nav class="navv">
    <a routerLink="/apps/customer-home/Customerhome-list">الصفحة الرئيسية</a>
    <a routerLink="/apps/customer-view-rest/customerViewRest-list">المطاعم</a>
    <a routerLink="/apps/current-orders/currentOrder-list">طلباتي</a>
    <a routerLink="/apps/customer-payment/customerCart-list">السله</a>

  </nav>
</header>


