* {box-sizing: border-box;}


.header {
  display: flex;
  border-style: solid;
  border-color:  white  white var(--primary-color) white;
}



.header a {

  color: black;

  padding: 12px;
  padding-top: 20;
  text-decoration: none;
  font-size: 18px;

  border-radius: 4px;
}




.container{
  justify-content: space-between;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
 
  border-style: solid;
  border-color:  white  white var(--primary-color) white;


}

.container a{
  text-decoration: none;
  color: black;

}

.container  :nth-child(1){
  padding-top: 1%;


}
.container  :nth-child(2){
 max-width: 30%;
 max-height: 30%;
 padding-right: 28%;

}

.container  :nth-child(3){
  padding-left: 3%;


}

.lazza-logo{

  background: url('../../../../assets/lazza_logo.png') 30% / cover no-repeat;

  width: 159px;
  height: 111px;

}



.ticket{

  background: url('../../../../assets/avatar-icon.png') 50% / contain no-repeat;
  margin-bottom: 3px;
  width: 28px;
  height: 28px;
}

.box{
  display: flex;
  gap: 20px;
}

  .contactCont{
    display: flex;
    gap: 50px;
  }

.paragraph{
  text-align: right;
  display: inline;

}

.paragraph a{
  text-decoration: none;
  color: black;
}


.contA{

 text-align: right;

}


