<header>
  <a routerLink="/apps/customer-home/Customerhome-list">
    <img src="../../../../assets/LazzaLogo-01.png" class="img" height="50" width="100">
  </a>

    <input type="text" class="search"  placeholder="ابحث">


  <nav class="navv">
    <a routerLink="/apps/customer-home/Customerhome-list">الصفحة الرئيسية</a>
    <a routerLink="/apps/customer-view-rest/customerViewRest-list">المطاعم</a>
    <a routerLink="/apps/current-orders/currentOrder-list">طلباتي</a>
    <a routerLink="/apps/customer-payment/customerCart-list">السله</a>

  </nav>
</header>


