<!--

<div style="text-align: center; padding-bottom: 20px;">

  <img src="./../../../../../../assets/lazza-slogan.png" height="400px" width="1000px border-radius: 1rem;" >

</div>


<!-- map container-->
<div class="MapContainer" >

  <!--1st -->
  <img src="./../../../../../../assets/map.png" alt="">

  <!--2nd -->
  <section class="MapDescription" >
    <h2 >أكثر من 100+ مطعم</h2>
    <p>في مناطق مختلفة في السعودية</p>
    <p>تصفح المطاعم القريبة منك من خلال الخريطة</p>
    <app-button  anyting="حدد موقعك" type="btn-outline-danger" (click)="openModal(content)" class="rest"></app-button>
  </section>


</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19734.13800669317!2d39.871916132003825!3d21.420420299464716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c204633c80e23f%3A0x8925f03717869757!2z2KfZhNio2YrZgw!5e0!3m2!1sar!2ssa!4v1721914104356!5m2!1sar!2ssa" width="470" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">حفظ</button>
  </div>
</ng-template>
<!-- banner for ADs-->

<div class="ads-container">
  <div class="ads-item active">
    <img src="./../../../../../../assets/ad.png" width="100%" alt="Ad 1">
  </div>
  <div class="ads-item">
    <img src="./../../../../../../assets/star.png" alt="Ad 2">
  </div>
  <div class="ads-item">
    <img src="./../../../../../../assets/food_bar.png" alt="Ad 3">
  </div>
  <div class="ads-item">
    <img src="ad4.jpg" alt="Ad 4">
  </div>
  <div class="ads-item">
    <img src="ad5.jpg" alt="Ad 5">
  </div>
</div>


  <!-- labels (مطاعم / تصفح المزيد) and cards-->
<div class="labelsContaner">

  <!-- child 1-->
   <a class="viewMore" href="">

      <div>

        <!-- img-->
       <a routerLink="../../restuarant-customer"> <h4>تصفح المزيد</h4></a>

      </div>
   </a>

<!-- child 2-->
 <!-- <h3 class="restsLabel">المطاعم</h3> -->

</div>

<div class="someRestaurants">

  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>
  <div class="card" style="width: 13rem;">
    <img src="../../../../../../assets/star.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <p class="text-center">مطعم ###</p>
    </div>
  </div>


</div>


