<div style="text-align: center; padding-bottom: 20px;">

  <img src="./../../../../../../assets/lazza-slogan.png" height="400px" width="1000px" >

</div>

<div style="height: 400px; background-color: var(--light-grey-color); padding: auto; border-radius: 25px;">

  <!--1st section-->
  <section style="font-family: var(--fontFamily); text-align: right; justify-items: center;">
    <h3 style="color: var(--primary-color);">أكثر من 100+ مطعم</h3>
    <h4>في مناطق مختلفة في السعودية</h4>

  </section>
</div>


