
<div class="main">

  <h2 style="color: var(--primary-color); display: flex; justify-content: flex-end; margin-bottom: 4rem;">طلبات التفعيل</h2>

  <table >
    <tr>

      <th>الحـالـــة</th>
      <th> تفاصيل الطلب</th>
      <th>رقم الجوال</th>
      <th>الايميل</th>
      <th>اسم المطعم</th>



    </tr>

    <tr *ngFor="let i of arr">


      <td style="display: flex; justify-content: space-evenly;"><a  routerLink="../popUp">  <app-table-button statement="رفض" type="btn-outline-danger" class="rest"></app-table-button></a>
        <a  routerLink="../popUp">  <app-table-button statement="قبول" type="btn-outline-success" class="rest"></app-table-button></a></td>
        <td> <a  routerLink="../popUp">  <app-table-button statement="تفاصيل" type="btn-outline-secondary" class="rest"></app-table-button></a></td>
        <td>{{i.custnum}}</td>
        <td>{{i.email}}</td>
        <td>{{i.name}}</td>
    </tr>
  </table>

</div>


