<div class="main">

  <table >
    <tr>

      <th>الحاله</th>
      <th> تفاصيل الطلب</th>
      <th>رقم العميل</th>
      <th>رقم الطلب</th>
      <th>اسم العميل</th>




    </tr>

    <tr *ngFor="let i of arr">
      <td>{{i.name}}</td>
      <td>{{i.ornum}}</td>
      <td>{{i.custnum}}</td>
      <td><button class="details">التفاصيل</button></td>
      <td><button class="status refuse">رفض</button>
        <button class="status accept">قبول</button></td>
    </tr>
  </table>

</div>



<!-- <h1 class="orders-text">الطلبات المرسله</h1> -->

<!-- <div class="container">
  <div class="content">
    <div class="center">
      <table>
        <tr>
          <th>الحاله</th>
          <th>التفاصيل</th>
          <th>رقم العميل</th>
          <th>رقم الطلب</th>
          <th>اسم العميل</th>
        </tr>
        <tr>
          <td>
            <button class="status refuse">رفض</button>
            <button class="status accept">قبول</button>
          </td>
          <td><button class="details">التفاصيل</button></td>
          <td>0594128758</td>
          <td>10</td>
          <td>غسان</td>
        </tr>
        <tr>
          <td>
            <button class="status refuse">رفض</button>
            <button class="status accept">قبول</button>
          </td>
          <td><button class="details">التفاصيل</button></td>
          <td>0594128758</td>
          <td>10</td>
          <td>غسان</td>
        </tr>
        <tr>
          <td>
            <button class="status refuse">رفض</button>
            <button class="status accept">قبول</button>
          </td>
          <td><button class="details">التفاصيل</button></td>
          <td>0594128758</td>
          <td>10</td>
          <td>غسان</td>
        </tr>
        <tr>
          <td>
            <button class="status refuse">رفض</button>
            <button class="status accept">قبول</button>
          </td>
          <td><button class="details">التفاصيل</button></td>
          <td>0594128758</td>
          <td>10</td>
          <td>غسان</td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
