

:root {

  --primary-color: #DC4727;

  --Background: #fdfdfd;


  --light-grey-color:#F5F5F5;

  --card-img-color: #d9d9d9;

  --text-color: #2d2d2d;
  --evaluateStar-color: #ebc351;

  --fontFamily: "Tajawal";

  --table-border: #ddd;
  --table-row-bg: #f2f2f2;
}


html, body
 {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--fontFamily);
  background-color: var(--Background);
  direction: rtl;
}

h6{

  color: #c3c3c3;
  font-family: var(--fontFamily);
}

h2, h3, h4{
  color: var(--primary-color);
  align-self: self-end;
  padding-left: 70%;
  font-family: var(--fontFamily);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
