/* You can add global styles to this file, and also import other style files */

:root {

  --primary-color: #DC4727;

  


  --light-grey-color:#F6F6F6;

  --text-color: #2d2d2d;

  --fontFamily: "Tajawal";
}
