.main{
  margin: 5%;
   font-family: var(--fontFamily);
 }
 // .container {
 //   display: flex;
 //   width: 80%;
 // }

 // .content {
 //   width: 80%;
 //   padding: 20px;
 // }

 // .center {
 //   display: flex;
 //   justify-content: center;
 //   align-items: center;
 //   margin-top: 20px;
 // }

 table {
   width: 100%;
   border-collapse: collapse;
   font-size: 18px;
   text-align: center;


 }

 th, td {
   padding: 12px;
   border: 1px solid var(--table-border);

 }

 th {
   background-color: var(--table-row-bg);
   font-weight: bold;
 }

 td {
   text-align: center;
   font-weight: 500;
 }


 .modal-body{
  direction: rtl;
}
.card-numbers{
  margin-top: 70px;
  display: flex;
  justify-content: space-between
}

.card-number{
 position: relative;
 top: 30px;
}

.card-detils > input{
  width: 400px;
}

