<h2 class="main-text"> إدارة جميع
  المستخدمين</h2>
<div class="main">



  <!-- filtering tabels: each one has a different tabel-->


  <table class="table">

    <thead>
      <tr>
        <th scope="col">حالة الحساب</th>
        <th scope="col">تفاصيل الحساب</th>
        <th scope="col">رقم الجوال</th>
        <th scope="col">الإيميل</th>
        <th scope="col">الإسم</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of arr">

        <td [style.color]="i.accountStatus == 'مفعّل' ? 'green' : 'var(--primary-color)'">{{i.accountStatus}}</td>
        <td> <a > <app-table-button statement="تفاصيل" type="btn-outline-secondary"
              class="rest"></app-table-button></a></td>
        <td>{{i.phone}}</td>
        <td>{{i.email}}</td>
        <td>{{i.name}}</td>
      </tr>


    </tbody>
  </table>

</div>
