<footer>

  <div class="container">

    <!-- A-->
    <div class="contA">

      <div ><h4>تواصل معنا </h4> </div>

      <div class="contactCont" >
         <!-- 1-->
         <div class="box">

          <div>  ارفع تذكرة  </div>
          <div class="ticket"> </div>

        </div>


        <!-- 2-->

        <div class="box">

          <div>  ###gmail.com  </div>
          <div class="email"> </div>

        </div>

      </div>

      <div ><h4>اطلع على شروط واحكام لذّة</h4> </div>

    </div>


    <div style="width: 200px;"> </div>


    <!-- B-->
    <div class="paragraph">

      <div ><h4>من نحن؟ </h4> </div>

      نحن فريق مُســانِد، نسعى دومًا لنكون السند والرفيق<br />
       المُسـاعِد،
         قد نكون مختلفين ولكن ليس فينا مُعانِـد،<br />
         وفي العالم المستمر في التطور لن نقف كمُشاهِـد.

    </div>

    <!-- c-->
    <div class="lazza-logo">
    </div>




  </div>

  <hr>
  <p class="copyright">© 2024 فريق مساند. جميع الحقوق محفوظة</p>
</footer>
